body{
    background-color: darkgreen;
    color:aquamarine;
    font:caption;
}

.yellow{
    background-color:gold;
    color:darkgreen;
    width: 80%;
font-size: 50px;
}
#camera{
    border: 2px dashed lightgreen;
    height:300px;
    width:350px;
}
#image{
    height: 450;
    width: 450;
}